html,body{
    margin: 0px;
    padding: 0px;
    }

    body {
        position: relative;
        min-height: 105vh;
        min-width: 150vh;
        background-image: url("backgroundimage.jpg");
    }
        
    ul {
    top: -1px;
    z-index: 1;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: red;
    }
    
    li {
    float: left;
    }
    
    li a {
    display: inline-block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a:hover {
    background-color: rgba(220, 0, 0, 0.704);
    color: gold;
    }
    
    .main1 p {
    margin-left: 15px;
    font-size: larger;
    }

    .welkeTeams {
    display: flex;
    /* justify-content: center;  */
    margin-left: 15px;
    font-size: large;

    }
    
    /* .footer{
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 50px 10px 50px 10px;
    overflow: hidden;
    background-color: red;
    text-align: center; 
    color: gold;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    }

    /* footer { 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    } */ 

    .footer {
    font-size: larger;
    position: absolute;
    bottom: 0;
    background-color: red;
    width: 100%;
    }

    .footer p {
    text-align: center;
    margin: 0;
    padding: 20px;
    color: gold;
    }

    
    input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
    }
    
    input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    }
    
    input[type=submit]:hover {
    background-color: gold;
    }
    
    .lidWorden {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }

    .Logo {
    position: relative;
    margin-left: 10px;
    }

    .Zaterdag3 { 
    margin-left: 10px;
    font-size: large;
    }

    .Zaterdag2 { 
    margin-left: 10px;
    font-size: large;
    }
    
    .Zaterdag1 { 
    margin-left: 10px;
    font-size: large;
    }

    .Jo19-2 { 
    margin-left: 10px;
    font-size: large;
    }

    .Jo19-1 { 
    margin-left: 10px;
    font-size: large;
    }